.footer {
    width: 100%;
}
.phone{
    padding: 0 10% 0 0;
}
.email{
    padding: 0 0 0 10%;
}
.empty {
    flex: 1;
}
main{
    display: flex;
    flex-direction: column;
}

.mainLink{
    text-decoration: none;
    color: #bbbbbb;
}